<!DOCTYPE html>
<html>

<head>
    <title>2022학년도 전북대학교 소프트웨어공학과 학생회장 투표</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="text-center">2022학년도 전북대학교 소프트웨어공학과 학생회장 투표</h3>
            </div>
            <div class="card-body text-center">
                <div class="px-5 mb-4">
                    <p>2022학년도 전북대학교 소프트웨어공학과 학생회장 선거는 온라인으로 실시합니다.</p>
                </div>
                <div class="px-5 mb-4">
                    <h5><strong>정후보:</strong> 21학번 주은정</h5>
                    <h5><strong>부후보:</strong> 20학번 강연범</h5>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#posterModal" >후보자 정보</button>
                </div>
                <hr>
                <div class="px-5 my-4">
                    <h5>위 단일 후보에 대해 투표를 해주십시오.</h5>
                    <p class="text-danger"><strong>※ 투표 기회는 1번이며 재투표는 불가능합니다.</strong></p>
                </div>
                <form name="voting" action="/voting/submit" method="post">
                    <div class="custom-control custom-radio mb-4">
                        <input type="radio" class="custom-control-input" id="chk1" name="chk" value="agree">
                        <label class="custom-control-label" for="chk1">찬성</label>
                    </div>
                    <div class="custom-control custom-radio mb-4">
                        <input type="radio" class="custom-control-input" id="chk2" name="chk" value="disagree">
                        <label class="custom-control-label" for="chk2">반대</label>
                    </div>
                    <div class="custom-control custom-radio mb-4">
                        <input type="radio" class="custom-control-input" id="chk3" name="chk" value="none">
                        <label class="custom-control-label" for="chk3">무효</label>
                    </div>
                    <button id="submit_btn" class="btn btn-success px-5 mt-5" type="submit" disabled>제출</button>
                </form>
            </div>

            <!-- Poster Modal -->
            <div class="modal fade" id="posterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <img class="modal-content" id="img" src="/images/candidate_poster.png">
                    </div>
                </div>
            </div>
        </div><!-- /container -->
        <!-- Optional JavaScript -->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
        <script type="text/javascript">
            $("input:radio[name='chk']").on({
                click: function(e) {
                    $('#submit_btn').prop('disabled', false);
                }
            })
        </script>
</body>

</html>